body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(https://static.bimago.pl/mediacache/catalog/product/cache/8/6/144668/image/750x1120/3d17a1473cdc9c51572c06033771cfe8/144668_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#nav li {
    margin-right: 15px;
}

#nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

#nav li a:hover {
    color: #ffd700; 
}

h1 {
    text-align: center;
    color: white;
}

main {
    flex: 1;
    padding: 20px;
    color: white;
}

.poem-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.poem-container h2 {
    color: #333;
    text-decoration: underline;
}

.poem-container p {
    color: #000000;
    line-height: 1.6;
    margin-bottom: 10px;
    font-weight: bold;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

a:visited {
    color: aqua;
}

a:hover {
    color: #0036e6;
}

a {
    color: aqua;
}

p {
    color: #000000;
}