body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(https://cutewallpaper.org/21/hd-website-backgrounds/Best-46-HD-Webpage-Backgrounds-on-HipWallpaper-HD-.gif); background-size: cover; background-position: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(92, 89, 89, 0.8); 
    border-radius: 10px;
            
}

header {
    text-align: center;
}

.logo {
    color: red;
    font-size: 40px;
    margin: 10px 0;
}

nav {
    text-align: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav-links a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-links a:hover {
    color: #000;
    background-color: #ccc;
}

.main-content {
    text-align: center;
    margin: 20px 0;
}

.game_title {
    border: 4px solid black;
    border-radius: 25px;
    padding: 10px;
    background-color: red;
}


