a{
	font-size:40px;
	border:5px solid gray;
	border-width:medium;
	color:red;
}
a:hover{
    color:white;
}
.a1{
	color:black;
	border:transparent;
	
}
button{
	border-radius:10px;
}
h2{
	text-align:center;
	color:gray;
	font-size:30px;
	border:2px solid gray;
}
h4{
	color:white;
}


.FDiv a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: color 0.3s, background-color 0.3s;
}

.FDiv a:hover {
    color: #000;
    background-color: #ccc;
}
.FDiv {
    text-align: center;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #333;
    color: white;
}